/* CSS for GenMapper: template specific */

.node > rect {
  stroke-width: 3px;
}

.node:hover > rect, .node:hover > line {
  stroke-width: 4px;
}

.full-time-missionary {
  stroke: #FD0402;
}

.existing-lay-believer {
  stroke: #3D7AD3;
}

.leaders-disciple {
  stroke: #5EA650;
}
