/* CSS for GenMapper: template specific */

.node-box {
  stroke: black;
  stroke-width: 5;
  fill: white;
}

.node-timothy {
  stroke-width: 5;
  stroke: rgb(0, 247, 255);
  
  /* fill: rgb(143, 14, 14); */
}


.disciple-no-follow-up {
  stroke-dasharray: 7,7;
  stroke-width: 5;
  stroke: red;
  /* fill: red; */
}

.disciple-followed-up-no-meetings {
  stroke-dasharray: 0;
  stroke: orange;
  stroke-width: 5;
  /* fill: orange; */
}

.disciple-followed-up-in-meetings {
  stroke-dasharray: 0;
  stroke-width: 5;
  stroke: green;
  /* stroke-width: 1; */
  /* fill: green; */
}

/**------------------------------------------------------------------------
 *             Fill Nodes with Colors based on Disciple Status
 *------------------------------------------------------------------------**/

  /* Example CSS for disciples/style.css to change fill color based on specific classes */
  .contactAttemptNeeded {
    stroke-dasharray: 0;
    stroke: red;
    stroke-width: 5;
  }

  .contactAttempted {
    stroke-dasharray: 0;
    stroke: orange;
    stroke-width: 5;
  }

  .contactEstablished {
    stroke-dasharray: 0;
    stroke: yellow;
    stroke-width: 5;
  }

  .firstMeetingScheduled {
    stroke-dasharray: 0;
    stroke: lightgreen;
    stroke-width: 5;
  }

  .firstMeetingComplete {
    stroke-dasharray: 0;
    stroke: green;
    stroke-width: 5;
  }

  .ongoingMeetings {
    stroke-dasharray: 0;
    stroke: darkgreen;
    stroke-width: 5;
  }

  .beingCoached {
    stroke-dasharray: 0;
    stroke: lightblue;
    stroke-width: 5;
  }

  .no-horizontal-resize {
    resize: vertical; 
  }

.no-horizontal-resize {
  resize: vertical; 
}